.createPost {
    text-align: center;
}

.createPost h2 {
    font-size: 2.2em;
}

.createPost p {
    color: #aaa;
    margin-bottom: 2em;
    

}
@media (max-width: 600px) {
    .createPost {
        margin: 20px;
        padding: 15px;
    }
}

